/SRP/.vs
/SRP/SRP/bin
/SRP/SRP/obj
/OCP_First_Example/.vs
/OCP_First_Example/OCP_First_Example/bin
/OCP_First_Example/OCP_First_Example/obj
/OCP_Second_Example/.vs
/OCP_Second_Example/OCP_Second_Example/bin
/OCP_Second_Example/OCP_Second_Example/obj
/DIP/.vs
/DIP/DIP/bin
/DIP/DIP/obj
